@charset "UTF-8";
/* reset */
@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
  }
*{box-sizing: border-box;margin: 0;
    padding: 0; list-style: none;}
html,body{
    color: #3e3e3e;
}
a{
    display: block;
    text-decoration: none;
}
a:hover{cursor: none;}
img{display: block;}
.tab-today-sale{display: none;}
.tab-interior{display: none;}
.pc-slider{display: none;}
.sign-four{display: none;}
.pc-user-interior{display: none;}


/* mobile */
/* mo-header */
#pc-header-section{display: none;}
#mo-header-section{
    width: 100%;
    position: relative;
    position: fixed;
    z-index: 99;
    background-color: #fff;
    padding-bottom: 15px;
    box-shadow: 1px 0 7px #e68d8d;
}
#mo-header-section.header-active{
    width: 100%;
    box-shadow: 1px 3px 4px #ffcbcb;
}
#mo-header-section h1{
    width: 150px ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 0;
    float: left;
    position: relative;
    z-index: 99;
}
#mo-header-section h1 img{
    width: 100%;
    max-width: 100%;
}
/* mo-nav */
#mo-header-section .login{
    background-color: #e68d8d;
    width: 85px;
    height: 22px;
    margin-top: 17px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 15px;
    float: left;
}
#mo-header-section .login p{
    color: #fff;
    font-size: 0.65em;
    font-family: 'Jal_Onuel';
    margin-top: 1px;
}
/* hamberger */
.menu-toggle-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 600;
}
.menu-toggle-btn span{
    display: block;
    text-indent: -9999px;
    width: 100%;
    height: 2px;
    background: #EE6D6D;
}
.menu-toggle-btn span:nth-child(2){
    margin: 6px 0;
}
/* mo-submenu */
.mo-sub-menu{
    width: 100%;
    height: 170px;
    background: #fff;
    position: absolute;
    z-index: 98;
    top: 55px;
    right: -100%;
    box-shadow: 2px 2px 2px #ccc;
    transition: all 0.6s;
}
.ison{   
    right: 0; 
}

.mo-sub-menu ul.sub-1{
    float:right;
    margin-top: 17px;
    margin-right: 1%;
}
.mo-sub-menu ul li{
    float: left;
}
.mo-sub-menu ul.sub-1 li a{
    text-align: center;
    width: 70px;
    color: #eb9191;
    font-weight: bold;
    font-size: 0.8em;
}
.mo-sub-menu ul.sub-2{
    margin-top: 95px;
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}
.mo-sub-menu ul.sub-2 li a{
    text-align: center;
    width: 90px;
    font-size: 1.15em;
    color: #3e3e3e;
    font-family: 'Jal_Onuel';
    margin-top: 20px;
}
.mo-sub-menu ul.sub-2 li a:hover{
    color: #eb9191;
}
.sub-menu-contents{
    position: relative;
}
.sub-menu-contents span{
    position: absolute;
    top: -50px;
    font-size: 1.2em;
    margin-left: 7%;
    font-family: 'Jal_Onuel';
}
/*mo - sale- slider */
.mo-top-slider{
    width: 100%;
    position: relative;
    top: 40px;
}
.mo-top-slider .swiper{
    width: 100%;
}
.mo-today-sale .swiper .swiper-wrapper,
.mo-best .swiper .swiper-wrapper{
    margin-left: 1%;
}
.mo-top-slider .swiper img{
    width: 100%;
}
.mo-top-slider .swiper .swiper-pagination{
    position: absolute;
    bottom: 30px;
}
.mo-top-slider .swiper .swiper-pagination .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color: #f36d6d;
}



/* mo-category */
.mo-category{
    width: 95.9509186351706%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 33px;
}
.mo-category .category{
    width: 15.1076115485564%;
    margin: 0 2.42%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mo-category .category figure img{
    width: 100%;
    max-width: 100%;
    border-bottom: 2px solid #ebb7b7;
    padding:10px 7px;
    transition: all 0.4s;
}
.mo-category .category figcaption{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 0.81em;
    font-family: 'Jal_Onuel';
    font-weight: 500;
    color: #3e3e3e;
}

/* mo-Today Sale */
.mo-today-sale{
    width: 95.9509186351706%;
    margin: 50px auto 0;
    text-align: center;
}
.mo-today-sale .sale-title h4{
    font-size: 1.1em ;
    font-style: oblique;
    color: #606060;
}
.mo-today-sale .sale-title h1{
    font-size: 2.5em;
    font-family: 'Jal_Onuel';
    margin-top: 10px;
    color: #EE6D6D;
}

.mo-today-sale .swiper .swiper-pagination .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color: #f36d6d;
}
/* today sale timer */
#timer {
    margin-top: 25px;
  }
#timer #hours, #timer #minutes, #timer #second{
    font-size: 1.1em;
    font-family: 'Jal_Onuel';
    color: #3e3e3e;
    padding: 1% 1.5%;
    background-color: #a84545;
    color: #fff;
    border-radius: 10px;
}
#timer .zhffhs{
    margin-left: 15px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.3em;
}
div.section-line{
    width:26.24671916010499%;
    height: 1px;
    background-color: #eb9191;
    margin: auto;
    margin-top: 50px;
}

/* mo-best */
.mo-best .swiper-button-next,
.mo-best .swiper-button-prev{
    display: none;
}
.mo-best{
    width: 95.9509186351706%;
    margin: 50px auto 0;
    text-align: center;
    position: relative;
}
.mo-best .best-title h1{
    font-size: 2.5em;
    font-family: 'Jal_Onuel';
    color: #EE6D6D;
}


.mo-best .best-title .best-comment{
    width: 270px;
    margin: auto;
    display: flex;
    justify-content: space-between
}
.mo-best .best-title .best-comment .best-ment{
    display: block;
    font-size: 0.938em;
    text-align: left;
    font-weight: bold;
    color: #3e3e3e;
}

.mo-best .best-title .best-comment .this-time{
    display: block;
    font-size: 0.688em;
    text-align: right;
}
.mo-best .swiper .swiper-pagination .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color: #f36d6d;
}
#this-time{
    font-size: 0.71em;
    text-align: right;
    color: rgb(122, 122, 122);
}

/* mo-user */
.mo-interior{
    margin-top: 50px;
}
.mo-interior .user-title{
    text-align: center;
    width: 300px;
    margin: auto;
}
.mo-interior h4{
    font-size: 1.1em ;
    font-style: oblique;
    color: #606060;
    text-align: left;
    margin-left: 6%;
}
.mo-interior h1{
    font-size: 2.5em;
    font-family: 'Jal_Onuel';
    margin-top: 10px;
    color: #EE6D6D;
}
.mo-interior .mo-user-picture{
    margin-top: 25px;
}
.mo-interior .mo-user-picture ul{
    width: 100%;
}
.mo-interior .mo-user-picture ul li{
    width: 97%;
    margin: auto;
    margin-top: 20px;
}
.mo-interior .mo-user-picture ul li img{
    width: 100%;
    max-width: 100%;
}

/* youtube */
.youtube{
    width: 100%;
    height: auto;
    margin-top: 50px;
    position: relative;
    clear: both;
}
.youtube .youtube__area{
    width: 100%;
}

.youtube .youtube__area #player{
    width: 100%;
}
.youtube .youtube__area::before{
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}
#player{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#neon-badge{display: none;}
/* tab */

/*mo - footer */
footer{
    width: 100%;
    background-color: #ADA7A6;
    padding: 20px 0;
    margin-top: 10px;
}
/* mo - footer - category */
footer div.footer-category{
    width: 100%;
    margin-bottom: 20px;
}
footer div.footer-category ul{
    display: flex;
    justify-content: center;
}
footer div.footer-category ul li a{
    font-size: 0.938em;
    color: #3e3e3e;
    font-weight: bold;
}
footer div.footer-category ul li a::after{
    content: "|";
    margin: 0 10px;
}
footer div.footer-category ul li:last-child a::after{
    content: '';
    margin: 0;
}
/* mo - footer - customer */
footer div.customer-section div.customer-inner {
    width: 90%;
    display: flex;
    margin: auto;
}
/* 고객센터 */
footer div.customer-section div.cs-part{
    width: 50%;
    padding-left: 1%;
    float: right;
}

footer div.customer-section div.cs-part h4{
    font-size: 1.23em;
    color: #3e3e3e;
}
footer div.customer-section div.cs-part p{
    font-size: 0.875em;
    margin-top: 5px;
    color: #3e3e3e;
}
/* sns */
footer div.customer-section div.sns{
    width: 50%;
}
footer div.customer-section div.sns div.social h4{
    font-size: 1.23em;
    color: #3e3e3e;
}
footer div.customer-section div.sns div.social ul{
    display: flex;
    margin-top: 7px;
}
footer div.customer-section div.sns div.social ul li{
    width: 30px;
    margin: 0 4px;
}
footer div.customer-section div.sns div.social ul li img{
    width: 100%;
    max-width: 100%;
}
footer div.customer-section div.sns div.social div.app h4{
    font-size: 1.23em;
    color: #3e3e3e;
}
footer div.customer-section div.sns div.app ul{
    display: flex;
    margin-top: 7px;
}
footer div.customer-section div.sns div.app ul li{
    width: 30px;
    margin: 0 4px;
}
footer div.customer-section div.sns div.app ul li img{
    width: 100%;
    max-width: 100%;
}
footer div.customer-section div.notice{
    display: none;
}
/* mo-footer-address */
address{
    width: 100%;
    margin-top: 20px;
}
address div.address-inner{
    width: 90%;
    margin: auto;
    font-size: 0.688em;
}
div#to-top{
    color: #fff;
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; background: #333;
    cursor: pointer;
}
div#to-top:hover{
    cursor: none;
}

/* tab */
@media all and (min-width : 768px){
    .mo-today-sale .swiper{display: none;}
    .mo-category .category{
        margin-top: 20px;
    }
    /* tab-timer */

    /* tab- today-sale */
    .tab-today-sale .pc-main-sale{display: none;}
    .tab-today-sale{
        width: 100%;
        display: block;
        margin-top: 30px;
        padding-left: 13px;
    }
    .tab-today-sale .main-sale div{
        width: 99%;
        margin: auto;
    }
    .tab-today-sale .main-sale div img{
        width: 100%;
        max-width: 100%;
    }
    .tab-today-sale .sub-sale ul{
        display: flex;
        width: 99%;
        margin: auto;
        justify-content: space-between;
    }
    .tab-today-sale .sub-sale ul li{
        width: 33.333333333333%;
    }

    .tab-today-sale .sub-sale ul li img{
        width: 100%;
        max-width: 100%;
        transition: all 0.5s;
    }

    /* tab-user-interior */
    .mo-interior{display: none;}
    .tab-interior{display: block;}
    .tab-interior{
        width: 98%;
        margin: auto;
        position: relative;
        margin-top: 50px;
    }
    .tab-interior .user-title{
        width: 37%;
        position: absolute;
        top: 40px;
        right: 6.9%;
    }
    .tab-interior .user-title img{
        width: 100%;
        max-width: 100%;
    }
        
    .tab-interior div.tab-user-picture{
        width: 100%;
    }
    .tab-interior div.tab-user-picture ul.tab-user{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .tab-interior div.tab-user-picture ul.tab-user li{
        width: 49%;
    }
    .tab-interior div.tab-user-picture ul.tab-user li:nth-child(2){
        margin-top: 170px;
    }
    .tab-interior div.tab-user-picture ul.tab-user li:nth-child(3){
        margin-top: -140px;
    }
    .tab-interior div.tab-user-picture ul.tab-user li:nth-child(4){
        margin-top: 10px;
    }
    .tab-interior div.tab-user-picture ul.tab-user li img{
        width: 100%;
        max-width: 100%;
        cursor: pointer;
    }
    .tab-interior a{
        position: absolute;
        bottom: 80px;
        left: 15%;
        font-size: 1.1em;
        font-family: 'Jal_Onuel';
        color: #EE6D6D;
    }
    /* tab-footer */
    footer{
        display: flex;
        flex-wrap: wrap;
    }
    footer div.customer-section div.notice{
        display: block;
    }
    /* tab-customer */
    footer div.customer-section{
        order: 1;
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        margin: auto;
    }
    footer div.customer-section div.customer-inner{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
        margin-left: 12%;
    }
    footer div.customer-section div.sns{
        order: 1;
        width: 100%;
        display: flex;
        margin-bottom: 20px;
    }
    footer div.customer-section div.sns div.social{
        margin-right: 20px;
    }
    footer div.customer-section div.sns div.social h4{
        font-size: 1.513em;
        margin-bottom: 10px;
    }
    footer div.customer-section div.sns div.app h4{
        font-size: 1.513em;
        margin-bottom: 10px;
    }
    footer div.customer-section div.sns div.social ul li{
        width: 40px;
        margin-left: 7px;
    }
    footer div.customer-section div.sns div.social ul li:first-child{
        margin-left: 0;
    }
    footer div.customer-section div.sns div.app ul li:first-child{
        margin-left: 0;
    }
    footer div.customer-section div.sns div.app ul li{
        width: 40px;
        margin-left: 7px;
    }
    footer div.customer-section div.sns div.social{
        width: 50%;
    }
    footer div.customer-section div.sns div.app{
        width: 50%;
    }
    footer div.customer-section div.cs-part{
        order: 2;
        width: 50%;
    }
    footer div.customer-section div.notice{
        order: 3;
        width: 50%;
        padding-left: 10px;
    }
    footer div.customer-section div.notice h4{
        font-size: 1.23em;
        color: #3e3e3e;
    }
    footer div.customer-section div.notice ul li a{
        font-size: 0.875em;
        margin-top: 5px;
        color: #3e3e3e;
    }
    /* tab-footer-category */
    footer  div.footer-category{
        order: 2;
        margin-top: 30px;
        margin-bottom: 0;
    }
    footer  div.footer-category ul li a{
        font-size: 1.02em;
    }
    footer address{
        order: 3;
    }
    footer address div.address-inner{
        width: 98%;
        font-size: 0.80em;
    }
    


}
/* pc */

@media all and (min-width : 960px){
    html, body {
        cursor: none;
       
    }
    #mo-header-section{display: none;}
    #pc-header-section{display: block;}
    /* top - logo */
    #pc-header-section{
        width: 100%;
        height: 70px;
        position: relative;
    }
    #pc-header-section h1{
        width: 180px;
        height: 50px;
        float: left;
        margin: 15px;
        padding: 5px;
    }
    #pc-header-section nav{
        position: relative;
        top: 5px;
    }
    #pc-header-section h1 img{
        width: 100%;
        max-width: 100%;
    }
    /* nav */
    #pc-header-section #top-nav{
        float: left;
        margin-top: 28px;
        margin-left: 10px;
        display: flex;
    }
    #pc-header-section #top-nav a{
        width: 77px;
    }

    #top-nav a.hover-this{
        margin-right: 30px;
    }
    #top-nav a.hover-this span {
        display: inline-block;
        pointer-events: none;
        transition: transform 0.1s linear;
        color: #3e3e3e;
        width: 100px;
        text-align: center;
        font-size: 1.27em;
        font-weight: normal;
        font-family: 'LotteMartHappy';
    }
    #pc-header-section input{
        position: absolute;
        right: 10%;
        top: 35px;
        border: none;
        border-bottom: 2px solid #e68d8d;
        padding-bottom: 3px;
    }
    #pc-header-section input::placeholder{
        color: #ccc;
        font-size: 12px;
    }
    #pc-header-section>span{
        position: absolute;
        right: 10%;
        top: 31px;
        color: #e68d8d;
    }
    
    /* 포인터 설정 */
    .hover-this {
        transition: all 0.3s ease;
    }
    

    #top-nav a.hover-this:hover span{
        color: #EE6D6D;
        font-size: 18px;
        font-weight: bolder;
    }
    
    .cursor {
        pointer-events: none;
        position: fixed;
        padding: 0.3rem;
        background-color: #EE6D6D;
        border-radius: 50%;
        mix-blend-mode: multiply;
        transition: transform 0.3s ease;
        z-index: 6000;
        width: 15px;
        height: 15px;
    }
    
    .hover-this:hover ~ .cursor {
        transform: translate(-50%, -50%) scale(2);
    }
    /* pc-slide */
    .mo-top-slider{display: none;}
    .pc-slider{display: block;}
    .pc-slider .pc-slide-inner{
        width: 100%;
        margin: auto;
        position: relative;
        right: 8%;
    }
    .pc-slider .pc-slide-inner .swiper .swiper-pagination{
        width: 30%;
        position: absolute;
        left: 50%;
        bottom: 30px;
    }
    .pc-slider .pc-slide-inner .swiper-pagination .swiper-pagination-bullet{
        background-color: #EE6D6D;
        width: 13px;
        height: 13px;
    } 
    .pc-slider .pc-slide-inner .swiper .swiper-button-prev,
    .pc-slider .pc-slide-inner .swiper .swiper-button-next{
        width: 50px;
        color: #3e3e3e;
        position: absolute;
        left: 0rem;
        top: 70%;
        font-weight: bold;
    }
    .pc-slider .pc-slide-inner .swiper .swiper-button-prev{
        left: 15%;
    }
    .pc-slider .pc-slide-inner .swiper .swiper-button-next{
        left: 21%;
    }
    .pc-slider .pc-slide-inner .swiper .swiper-button-prev:hover,
    .pc-slider .pc-slide-inner .swiper .swiper-button-next:hover{
        color: #EE6D6D;
        cursor: none;
    }
    .pc-slider .pc-slide-inner p{
        position: absolute;
        bottom: 7%;
        left: 20%;
        z-index: 190;
        border: 2px solid rgb(145, 145, 145);;
        width: 10%;
        height: 30px;
        text-align: center;
        color: rgb(145, 145, 145);
        text-transform: uppercase;
        font-weight: bold;
        background-color: #fff;
        line-height: 1.5;
        font-size: 1em;
    }
    .pc-slider .pc-slide-inner p:hover{
        background-color: rgb(145, 145, 145);
        color: #fff;
    }

    /* 네온뱃지 */
    .sign-four{display: none;}

    /* pc-category */
    .mo-category{
        flex-wrap: nowrap;
        margin-top: 10px;
        width: 88%;
    }
    .mo-category .category{
        margin: 1%;
        padding: 0;
    }
    .mo-category .category > figure,
    .mo-category .category > figure a
    {
        transition: all 0.4s;
    }
    .mo-category .category > figure:hover a{
        background-color: #EE6D6D;
        border-radius: 10px;
        cursor: none;
    }
    .mo-category .category > figure:hover img{
        border-bottom: none;
    }
    .mo-category .category > figure:hover figcaption{
        color: #EE6D6D;
    }

    /* pc- today sale */
    .tab-today-sale .main-sale{display: none;}
    .tab-today-sale .pc-main-sale{display: block;}
    .mo-today-sale{
        margin-top: 70px;
        margin-bottom: 100px;
        width: 80%;
    }
    .mo-today-sale .sale-title h4{
        font-size: 1.8em;
    }
    .mo-today-sale .sale-title h1{
        font-size: 3.6em;
    }
    #timer #hours, #timer #minutes, #timer #second{
        font-size: 1.5em;
    }
    .zhffhs{
        font-size: 1.5em;
    }
    .tab-today-sale{
        display: flex;
        margin: auto;
        margin-left: 1.4%;
        margin-top: 50px;
    }
    .tab-today-sale .pc-main-sale{
        width: 37%;
    }
    .tab-today-sale .pc-main-sale img{
        width: 100%;
        max-width: 100%;
        transition: all 0.4s;
    }
    .tab-today-sale .pc-main-sale img:hover{
        transform: scale(1.1);
    }
    .tab-today-sale .sub-sale{
        width: 60%;
    }
    .tab-today-sale .sub-sale li a img:hover{
        cursor: none;
        transform: scale(1.2);
    }
    .mo-best .swipe-slide-section .swiper-slide img{
        transition: all 0.4s;
    }
    .mo-best .swipe-slide-section .swiper-slide img:hover{
        transform: scale(1.1);
    }
    .mo-best .swiper-button-next,
    .mo-best .swiper-button-prev{
    display: block;
    color: #3e3e3e;
    transform: scale(0.8);
    font-weight: bold;
    position: absolute;
    top: 77%;
    }
    .mo-best .swiper-button-next:hover,
    .mo-best .swiper-button-prev:hover{
        cursor: none;
        color: #EE6D6D;
    }
    .mo-best .swiper-button-next{
        left: 38%;
    }
    .mo-best .swiper-button-prev{
        left: 30%;
    }
    .mo-best{
        margin-bottom: 50px;
        width: 77%;
        margin-top: 50px;
        margin-left: 15%;
    }
    
    .mo-best div.swiper{
        width: 50%;
    }
    .mo-best div.best-title div.best-comment{
        width: 400px;
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .mo-best .best-title{
        float: left;
        width: 50%;
        margin-left: -70px;
    }
    .mo-best .best-title h1{
        font-size: 3.3em;
        margin-top: 70px;
    }
    .mo-best div.best-title div.best-comment{
        width: 370px;
    }
    .mo-best .best-title .best-comment span:nth-child(1){
        display: block;
        font-size: 1.2em;
    }
    /* pc-user */
    .tab-interior{display: none;}
    .pc-user-interior{display: block;}
    .pc-user-interior{
        width: 80%;
        margin: auto;
        padding-top: 0;
        margin-bottom: 100px;
        position: relative;
    }
    .pc-user-interior ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0px;
        justify-content: center;
    }
    .pc-user-interior ul li{
        width: 49%;
    }
    .pc-user-interior ul li:nth-child(2){
        margin-top: 250px;
    }
    .pc-user-interior ul li:nth-child(3){
        margin-top: -210px;
    }
    .pc-user-interior ul li:nth-child(4){
        margin-top: 20px;
    }
    .pc-user-interior ul li img{
        width: 100%;
        max-width: 100%;
    }
    
    .pc-user-interior .user-title{
        width: 37%;
        position: relative;
        left: 57%;
        top: 170px;
    }
    .pc-user-interior .user-title img{
        width: 100%;
        max-width: 100%;
    }
    .pc-user-interior .pc-user-picture ul li img{
        transition: all 0.4s;
    }
    .pc-user-interior .pc-user-picture ul li img:hover{
        transform: scale(1.15);
    }
    .pc-user-interior > p{
        position: absolute;
        bottom: 90px;
        left : 15%;
        color :#EE6D6D;
        font-size: 1.3em;
        font-family: 'Jal_Onuel';
    }
    .youtube{
        margin-top: 100px;
    }

    /* footer */
    section.footer-section{
        width: 100%;
        background-color: #ADA7A6;
    }
    section.footer-section:hover{
        cursor: none;
    }
    footer{
        width: 80%;
        margin: auto;
        justify-content: center;
    }
    footer div.customer-section{
        width: 100%;
    }
    footer div.customer-section div.customer-inner{
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    footer div.customer-section div.customer-inner div.cs-part{
        order: 1;
        width: 33%;
        margin: auto;
        margin-top: 20px;
    }
    footer div.customer-section div.customer-inner div.cs-part h4,
    footer div.customer-section div.customer-inner div.notice h4,
    footer div.customer-section div.customer-inner div.sns h4{
        font-size: 1.6em;
        width: 100%;
    }
    footer div.customer-section div.customer-inner div.notice{
        order: 2;
        width: 30%;
        margin: auto;
        margin-top: 20px;
    }
    footer div.customer-section div.customer-inner div.sns{
        order: 3;
        width: 30%;
        flex-wrap: wrap;
    }
    footer div.customer-section div.customer-inner div.sns div.social{
        order: 1;
        width: 100%;
    }
    footer div.customer-section div.customer-inner div.sns div.app{
        order: 2;
        width: 100%;
        margin-top: 20px;
    }
    footer div.footer-category{
        margin-top: 25px;
    }
    footer div.footer-category ul li a{
        font-size: 1.2em;
    }
    footer address{
        font-size: 1.2em;
    }
}

@media all and (min-width : 1200px){
    .mo-best .best-title h1{
        font-size: 4em;
    }
    .mo-best div.best-title div.best-comment{
        width: 440px;
    }
    .mo-best .best-title .best-comment span:nth-child(1){
        display: block;
        font-size: 1.4em;
    }
}